<%- include("../includes/head") %>

<section>
  <h1 class="title">Password reset link is sent to your email address.</h1>
  <div class="feedback">
    <div>
      <p><i class="fa-solid fa-envelope icon"></i>Check your inbox</p>
      <em>OR</em>
    </div>
    <div class="feedbtn">
      <div>
        <a
          href="https://mail.google.com/mail/u/3/#inbox"
          target="_blank"
          title="feedback page"
          ><button class="btn">
            <i class="fa-solid fa-envelope-open-text icon"></i>Click to open
            gmail app
          </button>
        </a>
      </div>
      <div class="r-btn">
        <a href="/">
          <button class="btn">
            <i class="fa-solid fa-arrow-left icon"></i>Back to Home
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<%- include("../includes/foot") %>
