<%- include("../includes/head") %>

<h1 class="title home">Log in to your account!</h1>
<div>
  <a href="/">
    <h4 class="btn btn-home">Go Back Home</h4>
  </a>
</div>
<form action="/login" method="post">
  <input hidden name="_csrf" value="<%= csrfToken %>" />
  <div class="form-box">
    <ul>
      <% if(errorMsg){%>
      <li>
        <p class="errMsg"><%=errorMsg%></p>
      </li>
      <%}%>
      <li>
        <label for="title">Enter Username</label>
      </li>
      <li>
        <input type="text" id="title" name="title" />
      </li>
      <li>
        <label for="email">Enter Email</label>
      </li>
      <li>
        <input type="email" id="email" name="email" />
      </li>
      <li>
        <label for="password">Enter Password</label>
      </li>
      <li>
        <input type="password" id="password" name="password" />
      </li>
      <div class="buttons">
        <a href="#">
          <button type="submit" class="btn">Log in</button>
        </a>

        <a href="/reset-password">
          <button type="button" class="btn">Forget Password</button>
        </a>
      </div>
    </ul>
  </div>
</form>

<%- include("../includes/foot") %>
