<%- include("./includes/head") %>

    <h1 class="title home">Add a new Post Here!</h1>
    <div>
        <a href="/">
            <h4 class="btn btn-home">Go Back Home</h4>
        </a>
    </div>
    <form action="/admin" method="post">
        <div class="form-box">
            <ul>
                <li>

                    <label for="title">Enter Title</label>
                </li>
                <li>
                    <input type="text" id="title" name="title" required />
                </li>
                <li>
                    <label for="description">Enter Description</label>
                </li>
                <li>
                    <textarea name="description" id="description" cols="30" rows="10"></textarea>
                </li>
                <li>
                    <a href="#">
                        <button type="submit" class="btn btn-add">
                            Add Post
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </form>

    <%- include("./includes/foot") %>