<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <h1 class="title home">I am Home Page</h1>
    <h3 class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium tenetur neque debitis,
        sed ea eaque dicta
        id, illo accusantium voluptate obcaecati, laboriosam deserunt. Tenetur eos exercitationem explicabo laboriosam
        fugit praesentium!
    </h3>
    <a href="./admin/create-post">
        <button class="btn btn-postlink">Add a new post</button>
    </a>
</body>

</html>