.title {
  text-align: center;
}
.home {
  color: blue;
}
.description {
  color: rgb(121, 201, 36);
}

a {
  text-decoration: none;
}

.form-box {
  width: 70%;
  padding: 5px;
  margin: 0 auto;
}

ul {
  padding: 10px;
  border: 2px solid dimgrey;
}

li {
  list-style: none;
  margin: 5px;
}

li input,
textarea {
  font-weight: 700;
  width: 100%;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.btn {
  display: block;
  padding: 5px;
  border-radius: 5px;
  background-color: black;
  color: white;
  width: fit-content;
  transition: 0.3s;
}

.btn:hover {
  color: yellow;
  font-size: 15px;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-home {
  padding: 3px;
  margin: 0 auto;
}

.post-box {
  border: 1px dashed dimgrey;
  padding: 8px 15px;
  margin: 13px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-title {
  text-transform: uppercase;
  font-weight: 600;
}

.details h1 {
  text-align: center;
  margin: 10px;
}

img {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.des {
  text-align: center;
  margin: 10px;
  text-align: justify;
  text-indent: 10%;
}
