<%- include("../includes/head.ejs")%>
<section>
  <div class="premium">
    <h1 class="">
      <i class="fa-solid fa-medal fa-beat-fade medal icon"></i> IO Premium
    </h1>
    <hr />
    <ul class="facts">
      <li>Can Save Posts as PDF File</li>
      <li>Animate Profile Badge</li>
      <li>Can Create Posts</li>
    </ul>
    <p class="btn post-title">
      <i class="fa-solid fa-money-bill-wave icon"></i>Buy Premium
    </p>
  </div>
</section>
<%- include("../includes/foot.ejs")%>