<%- include("../includes/head.ejs")%>
<section>
  <h1 class="title">Subscription Successful!</h1>
  <a href="/admin/profile" class="btn buttons">
    <i class="fa-solid fa-arrow-left icon"></i>Go Back to Profile</a
  >
</section>
<%- include("../includes/foot.ejs")%>
