<%- include("../includes/head.ejs")%>
<section>
  <h2 class="title">
    <i class="fa-solid fa-triangle-exclamation icon err"></i>Page Not Found<i
      class="fa-solid fa-triangle-exclamation icon err"
    ></i>
  </h2>
  <a href="/" class="btn buttons">
    <i class="fa-solid fa-arrow-left icon"></i>Go Back Home</a
  >
</section>
<%- include("../includes/foot.ejs")%>
