<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>PDF Document</title>
  </head>
  <body>
    <section class="details">
      <h1 class="title">{{post.title}}</h1>
      <div class="buttons">
        <div>
          <p>
            <i class="fa-solid fa-feather icon"></i>
            Author => {{post.userId.email}}
          </p>
        </div>

        <p>
          <i class="fa-regular fa-calendar-days icon"></i>Uploaded at
          {{post.createdAt}}
        </p>
      </div>
      <p class="des">{{ post.description}}</p>
      <img
        src="http://localhost:8080/{{ post.imgUrl }}"
        alt="{{post.title }}"
      />
    </section>
  </body>
</html>
